<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8"></meta>
    </head>
    <body>
        <div th:fragment="common_footer" th:remove="tag">
            ※このメールは予約システムより自動送信をしております。<br />
            このメールに返信いただいても、回答できませんのでご了承ください。<br />
            <br />
            予約システムへのお問い合わせはこちら<br />
            予約システムXXXXX社<br />
            <a href="mailto:xxxxx@yyyyy.co.jp">xxxxx@yyyyy.co.jp</a>
        </div>
    </body>
</html>
